@import url('https://fonts.googleapis.com/css?family=Ubuntu');



* {
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu' , sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bg {
    background: url('https://images.unsplash.com/photo-1485965120184-e220f721d03e?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YmlrZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500') no-repeat center center/cover;
    position: absolute;
    top:-30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);
}

.loading-image{
    font-size: 50px;
    color: #fff;
}